<!--Head-->
<%- include('./partials/head') %>
<body>
    <!--Menú-->
    <%- include('./partials/menu') %>

    <form method="post">
        <label for=”nombre”> Nombre </label>
         <br>
        <input class="input" type=”text” name=”nombre” id="nombre">
         <br>
        <label for=”correo”> Correo electrónico </label>
         <br>
        <input class="input" type=”email” name=”email” id="nombre">
         <br>
         vallue="<%= locals.old && old.email %">
         <% if (locals.errors && errors.name) { %>
              <p class="feedback"> <%= errors.name %> </p>}
         <% } %>
        <label for=”contraseña”> Contraseña </label>
         <br>
        <input class="input" type=”password” name=”password” id="contraseña">
         <br>
        <input id="ingresar" type="submit" value="INGRESAR">
    </form>

  <!--Footer-->
  <%- include('./partials/footer') %>
</body>