<!DOCTYPE html>
<html lang="en">
<!--Head-->
<%- include('./partials/head') %>

    <body> 
        
        <!--Menú-->
        <%- include('./partials/menu') %>

        <h1>Productos</h1>
        <%- include('./partials/listado') %>

        <h2>Listado de productos</h2>
        <ul>
            <% for (let i = 0; i <listasProductos.length; i++) { %>
                <li><%= productList[i].title %></li>
            <% } %>
        </ul>
        
        <!--Footer-->
        <%- include('./partials/footer') %>

    </body>
</html>